{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {% if uploaded %}
                <h2>PDF Files Merged Successfully!</h2>
                <a href="{{ merged_pdf_path }}" download>Download Merged PDF</a>
                <button type="button" onclick="window.location.href='/merge_pdf'">Merge More PDFs</button>
            {% else %}
                <h2>Merge PDF Files</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="form-container">
                        {% for field in form %}
                            {{ field.label_tag }}
                            {{ field }}
                            <br>
                        {% endfor %}
                    </div>
                    <button type="submit">Merge</button>
                </form>
                <button type="button" onclick="addFileUploadField()">Add More Files</button>
            {% endif %}
        </div>
        <div class="col-lg-3"></div>
    </div>

    <script>
        var fileFieldCount = {{ form|length }};
        var new_field = 3

        function addFileUploadField() {
            var formContainer = document.getElementById('form-container');
            var newForm = document.createElement('div');
            newForm.className = 'file-upload';

            var label = document.createElement('label');
            label.htmlFor = 'id_file' + fileFieldCount;
            label.innerText = 'PDF File ' + new_field +': ';

            var input = document.createElement('input');
            input.type = 'file';
            input.name = 'file' + fileFieldCount;
            input.id = 'id_file' + fileFieldCount;

            newForm.appendChild(label);
            newForm.appendChild(input);
            formContainer.appendChild(newForm);

            fileFieldCount++;
            new_field++;
        }
    </script>
{% endblock %}
