<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">        
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Converter
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'converter-png' %}">JPEG to PNG</a>
      </div>
    </li>
  </div>
</nav>
  
  